.footerContainer {
  background: radial-gradient(circle at top right, rgba(124, 159, 12, 0.2) 0.1%, rgba(244, 244, 244, 0) 70%);
  background-size: cover;
  background-size: cover;
  background-position: center;

  .footerLogoWrapper {
    margin-left: 38px;

    .headerLogo {
      display: flex;
      align-items: center;
      margin-bottom: 58px;
      margin-top: 74px;

    }

    .headerLogoText {
      font-size: 40px;
      font-weight: 800;
      padding-left: 15px;
    }

    .textLogo {
      font-size: 16px;
      font-weight: 400;
      color: #797979;
    }
  }
}