.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 26px 42px 0 28px;


  .headerLogoWrapper {
    margin-right: 38px;

    .headerLogo {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .headerLogoText {
      font-size: 40px;
      font-weight: 800;
      padding-left: 15px;
    }
  }

  .headerNavigation {
    margin-right: 38px;


  }

  .navLinksSelected {
    font-size: 18px;
    line-height: 22px;
    color: #576D0E;
    border-bottom: 1px solid #576D0E;

  }

  .btnLogin {
    background-color: #576D0E;
    color: white;
    font-size: 18px;
    padding: 15px 51px;
    border-radius: 25px;
  }
}