.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 26px 42px 0 28px;
  position: relative;

  .headerLogoWrapper {
    margin-right: 38px;

    .headerLogo {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .headerLogoText {
      font-size: 40px;
      font-weight: 800;
      padding-left: 15px;
    }
  }

  .headerNavigation {
    margin-right: 38px;

    @media (max-width: 600px) {
      display: none;
    }
  }

  .navLinksSelected {
    font-size: 18px;
    line-height: 22px;
    color: #576d0e;
    border-bottom: 1px solid #576d0e;
  }

  .navigation_btn {
    background-color: inherit;
    border: none;
    color: black;
    box-shadow: none;

    @media (min-width: 600px) {
      display: none;
    }
  }

  .menu_navigate {
    position: absolute;
    top: 100%
  }
}